<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jonny Deep</title>
</head>
<body>
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/works">Work</a>

    <h1>Conoce a Jonny Deep</h1>

    <div>
    <img src="images(5).png" alt="photo" width="300px">
        <spam></spam>
    </div>


    <div>
    <img src="" alt="">
         <spam></spam>
    </div>
    
</body>
</html>